@import "../../Styles/common.scss";

.main {
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;

  .mainImg {
    .realImg {
      width: 100%;
      height: 450px;
    }
  }
  .itemWrap {
    padding: 80px 0 120px;

    h2 {
      margin-bottom: 25px;
      font-size: 42px;
      line-height: 44px;
      font-family: $lushFont;
    }

    .myItem {
      width: 900px;
      text-align: center;

      .myItemList {
        text-decoration: none;

        .myImg {
          width: 280px;
          height: 280px;
          object-fit: fill;
          border-radius: 50%;
          padding: 20px;
          margin-bottom: 5px;
        }
        .isLabels {
          display: flex;
          justify-content: center;

          .isNew {
            padding: 5px;
            font-size: 13px;
            font-weight: 600;
            color: red;
          }

          .isVegan {
            padding: 5px;
            font-size: 13px;
            font-weight: 600;
            color: green;
          }
        }
        .imgTitle {
          line-height: 22px;
          font-size: 18px;
          color: $lushBlack;
          font-weight: bold;
        }

        .imgHash {
          line-height: 20px;
          font-size: 14px;
          color: $elseGrey;
        }
      }

      .cost {
        line-height: 22px;
        font-size: 18px;
        font-weight: bold;
        color: $lushBlack;
      }
    }
  }

  .tableWrap {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
