@import "../../Styles/common.scss";

.main {
  padding-top: 100px;
  width: 1200px;
  margin: 0 auto;

  .mainImg {
    width: 1200px;
    img {
      width: 100%;
      height: 300px;
    }
  }
  .itemWrap {
    padding: 80px 0 120px;

    h2 {
      margin-bottom: 25px;
      font-size: 42px;
      line-height: 44px;
      font-family: $lushFont;
    }

    .myItem {
      width: 900px;
      text-align: center;

      .myItemList {
        text-decoration: none;

        .myImg {
          width: 300px;
          flex: 0 0 auto;
        }

        .imgTitle {
          line-height: 22px;
          font-size: 18px;
          color: $lushBlack;
          font-weight: bold;
        }

        .imgHash {
          line-height: 20px;
          font-size: 14px;
          color: $elseGrey;
        }
      }

      .cost {
        line-height: 22px;
        font-size: 18px;
        font-weight: bold;
        color: $lushBlack;
      }
    }
  }

  .tableWrap {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
