@import "../../Nav.scss";

.dropDownMenu {
  display: none;
}

.dropDown:hover .dropDownMenu {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  text-align: left;
  background-color: #333333;
}
