@import "../../../Styles/common.scss";

tr {
  .tableCheck,
  .productInfo,
  .itemCount,
  .itemPrice,
  .itemBenefits,
  .itemTotalPrice,
  .itemShipPrice {
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    padding: 41px 18px;
  }
  .tableCheck {
    // input[type="checkbox"] {
    //   display: none;
    //   padding-left: 23px;
    //   background-repeat: no-repeat;
    // }
    // input[type="checkbox"] + label {
    //   display: inline-block;
    //   width: 20px;
    //   height: 20px;
    //   border: 2px solid #bcbcbc;
    // }
    // input[type="checkbox"]:checked + label {
    //   background: url("./check.png");
    // }

    // label:hover {
    //   background: url("./checkhover.png");
    // }
    // label {
    //   text-indent: -9999px;
    // }
  }
  .productInfo {
    display: flex;
    position: relative;

    .productPicture {
      display: flex;
      margin-left: 5px;
      align-items: center;

      img {
        top: 23px;
        position: absolute;
        width: 115px;
        height: 115px;
      }
    }
    .productItem {
      display: flex;
      padding: 20px 15px;

      .productText {
        padding-left: 125px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 15px;
        width: 100%;

        .itemName {
          font-size: 17px;
          font-weight: 600;
          margin-bottom: 8px;
        }
        .itemCategory {
          color: $elseGrey;
          text-align: left;
        }
      }
    }
  }
  .itemCount {
    .countQuantity {
      .countBox {
        margin: 0 auto;
        width: 120px;
        height: 40px;
        border: 1px solid #e7e7e7;
        display: flex;
        align-items: center;
        input {
          font-size: 16px;
          text-align: center;
          width: 33%;
        }
        button {
          font-size: 16px;
          width: 33%;
          background: transparent;
          outline: none;
          border: none;
        }
      }
    }
  }
  .itemPrice,
  .itemBenefits,
  .itemTotalPrice {
    font-weight: bold;
  }
}
