@import "../../../Styles/common.scss";

.cartTable {
  thead {
    .cartTableRow {
      .cartTableCheck {
        padding: 15px 0;
        color: #969896;
        font-weight: bold;
        font-size: 13.5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        text-align: center;
      }

      .formCheck {
        display: absolute;
        padding: 10px 18px;
        input[type="checkbox"] {
          display: none;
          padding-left: 23px;
          background-repeat: no-repeat;
        }
        input[type="checkbox"] + label {
          display: inline-block;
          width: 18px;
          height: 18px;
          border: 1px solid #bcbcbc;
        }
        input[type="checkbox"]:checked + label {
          background: url("./check.png");
        }

        .allCheckLabel:hover {
          background: url("./checkhover.png");
        }
        .allCheckLabel {
          text-indent: -9999px;
        }
        .allCheckLabel {
          position: relative;
          cursor: pointer;
          text-indent: -9999px;
        }
      }

      .productDetail {
        width: 440px;
      }
      .productCount {
        width: 200px;
      }
      .productPrice {
        width: 150px;
      }
      .productBenefits {
        width: 70px;
      }
      .productTotalPrice {
        width: 150px;
      }
      .productShipPrice {
        width: 150px;
      }
    }
  }
}
