@import "../../../../../../Styles/common.scss";

.productListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 60px;
  &:hover {
    cursor: pointer;
  }

  .productImgContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 280px;
      height: 280px;
      object-fit: fill;
      border-radius: 50%;
      padding: 20px;
      margin-bottom: 5px;
    }

    .hoverIcons {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 25px;
      left: 3px;
      font-size: 30px;
      color: $elseGrey;

      svg:first-child {
        margin-bottom: 5px;
      }
    }

    &:hover .hoverIcons {
      display: flex;
    }
  }

  .labelColumn {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  .nameColumn {
    margin-bottom: 5px;
  }

  .hashTagColumn {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
  }

  .productPrice {
    margin-top: 10px;
  }
}
