.detailInfo {
  width: 100%;

  .infoTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .infoTitle {
      margin-bottom: 20px;
    }

    .categoryName {
      font-size: 18px;
    }

    .productName {
      font-size: 36px;
      font-weight: 800;
    }

    .productEnName {
      font-size: 24px;
      font-weight: 600;
    }
  }
}
